# Lab 8: Data Loading Simulation
This notebook simulates **three data loading methods** into DuckDB:

- ✅ Append (no duplicates)
- ✅ Truncate and reload
- ✅ Incremental (insert or update)

It loads CPI data from the Philadelphia Fed API and tests all methods over a simulated daily range.

In [3]:
!pip3 install duckdb pandas openpyxl requests

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: duckdb in /Users/charlottebacchetta/Library/Python/3.9/lib/python/site-packages (1.2.1)
Requirement already satisfied: pandas in /Users/charlottebacchetta/Library/Python/3.9/lib/python/site-packages (2.2.3)
Requirement already satisfied: openpyxl in /Users/charlottebacchetta/Library/Python/3.9/lib/python/site-packages (3.1.5)
Requirement already satisfied: requests in /Users/charlottebacchetta/Library/Python/3.9/lib/python/site-packages (2.32.3)
Requirement already satisfied: tzdata>=2022.7 in /Users/charlottebacchetta/Library/Python/3.9/lib/python/site-packages (from pandas) (2025.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/charlottebacchetta/Library/Python/3.9/lib/python/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: numpy>=1.22.4 in /Users/charlottebacchetta/Library/Python/3.9/lib/python/site-packages (from pandas) (2.0.2)
Requirement already satisfied: pytz>=2020.1 in /Users/charlottebacchetta/Library/Python/3.9/lib/python/site-packages (from pandas) (2025.2)
Requirement already satisfied: et-xmlfile in /Users/charlottebacchetta/Library/Python/3.9/lib/python/site-packages (from openpyxl) (2.0.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/charlottebacchetta/Library/Python/3.9/lib/python/site-packages (from requests) (3.4.1)
Requirement already satisfied: certifi>=2017.4.17 in /Users/charlottebacchetta/Library/Python/3.9/lib/python/site-packages (from requests) (2025.1.31)
Requirement already satisfied: idna<4,>=2.5 in /Users/charlottebacchetta/Library/Python/3.9/lib/python/site-packages (from requests) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/charlottebacchetta/Library/Python/3.9/lib/python/site-packages (from requests) (2.3.0)
Requirement already satisfied: six>=1.5 in /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.15.0)
WARNING: You are using pip version 21.2.4; however, version 25.0.1 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.

In [10]:
import duckdb
import openpyxl
import requests
import load_inc
import pandas as pd
from datetime import datetime, timedelta
import time
import os
import load_append
import load_trunc

In [11]:
# === Simulation Configuration ===
start_date = datetime(2004, 1, 1)
end_date = datetime(2004, 3, 1)  # You can change this for longer tests

# Initialize timing lists
append_times = []
trunc_times = []
inc_times = []

In [6]:
# === Run Loaders Over Date Range ===
current_date = start_date
while current_date <= end_date:
    pull_date_str = current_date.strftime("%Y-%m-%d")
    print(f"\n📅 Running loaders for: {pull_date_str}")

    try:
        t0 = time.time()
        load_append.run(pull_date_str)
        append_times.append(time.time() - t0)
    except Exception as e:
        print(f"[append error] {pull_date_str}: {e}")

    try:
        t0 = time.time()
        load_trunc.run(pull_date_str)
        trunc_times.append(time.time() - t0)
    except Exception as e:
        print(f"[trunc error] {pull_date_str}: {e}")

    try:
        t0 = time.time()
        load_inc.run(pull_date_str)
        inc_times.append(time.time() - t0)
    except Exception as e:
        print(f"[incremental error] {pull_date_str}: {e}")

    current_date += timedelta(days=1)

📅 Running loaders for: 2004-01-01
[append] Pull date 2004-01-01: Inserted 684 new rows.
[truncate] Pull date 2004-01-01: Replaced with 684 rows.
[incremental] Pull date 2004-01-01: Inserted 684 new rows.

📅 Running loaders for: 2004-01-02
[append] Pull date 2004-01-02: No new data to insert (all dates already exist).
[truncate] Pull date 2004-01-02: Replaced with 684 rows.
[incremental] Pull date 2004-01-02: Updated 684 existing rows.

📅 Running loaders for: 2004-01-03
[append] Pull date 2004-01-03: No new data to insert (all dates already exist).
[truncate] Pull date 2004-01-03: Replaced with 684 rows.
[incremental] Pull date 2004-01-03: Updated 684 existing rows.

📅 Running loaders for: 2004-01-04
[append] Pull date 2004-01-04: No new data to insert (all dates already exist).
[truncate] Pull date 2004-01-04: Replaced with 684 rows.
[incremental] Pull date 2004-01-04: Updated 684 existing rows.

📅 Running loaders for: 2004-01-05
[append] Pull date 2004-01-05: No new data to insert (all dates already exist).
[truncate] Pull date 2004-01-05: Replaced with 684 rows.
[incremental] Pull date 2004-01-05: Updated 684 existing rows.

📅 Running loaders for: 2004-01-06
[append] Pull date 2004-01-06: No new data to insert (all dates already exist).
[truncate] Pull date 2004-01-06: Replaced with 684 rows.
[incremental] Pull date 2004-01-06: Updated 684 existing rows.

📅 Running loaders for: 2004-01-07
[append] Pull date 2004-01-07: No new data to insert (all dates already exist).
[truncate] Pull date 2004-01-07: Replaced with 684 rows.
[incremental] Pull date 2004-01-07: Updated 684 existing rows.

📅 Running loaders for: 2004-01-08
[append] Pull date 2004-01-08: No new data to insert (all dates already exist).
[truncate] Pull date 2004-01-08: Replaced with 684 rows.
[incremental] Pull date 2004-01-08: Updated 684 existing rows.

📅 Running loaders for: 2004-01-09
[append] Pull date 2004-01-09: No new data to insert (all dates already exist).
[truncate] Pull date 2004-01-09: Replaced with 684 rows.
[incremental] Pull date 2004-01-09: Updated 684 existing rows.

📅 Running loaders for: 2004-01-10
[append] Pull date 2004-01-10: No new data to insert (all dates already exist).
[truncate] Pull date 2004-01-10: Replaced with 684 rows.
[incremental] Pull date 2004-01-10: Updated 684 existing rows.

📅 Running loaders for: 2004-01-11
[append] Pull date 2004-01-11: No new data to insert (all dates already exist).
[truncate] Pull date 2004-01-11: Replaced with 684 rows.
[incremental] Pull date 2004-01-11: Updated 684 existing rows.

📅 Running loaders for: 2004-01-12
[append] Pull date 2004-01-12: No new data to insert (all dates already exist).
[truncate] Pull date 2004-01-12: Replaced with 684 rows.
[incremental] Pull date 2004-01-12: Updated 684 existing rows.

📅 Running loaders for: 2004-01-13
[append] Pull date 2004-01-13: No new data to insert (all dates already exist).
[truncate] Pull date 2004-01-13: Replaced with 684 rows.
[incremental] Pull date 2004-01-13: Updated 684 existing rows.

📅 Running loaders for: 2004-01-14
[append] Pull date 2004-01-14: No new data to insert (all dates already exist).
[truncate] Pull date 2004-01-14: Replaced with 684 rows.
[incremental] Pull date 2004-01-14: Updated 684 existing rows.

📅 Running loaders for: 2004-01-15
[append] Pull date 2004-01-15: No new data to insert (all dates already exist).
[truncate] Pull date 2004-01-15: Replaced with 684 rows.
[incremental] Pull date 2004-01-15: Updated 684 existing rows.

📅 Running loaders for: 2004-01-16
[append] Pull date 2004-01-16: No new data to insert (all dates already exist).
[truncate] Pull date 2004-01-16: Replaced with 684 rows.
[incremental] Pull date 2004-01-16: Updated 684 existing rows.

📅 Running loaders for: 2004-01-17
[append] Pull date 2004-01-17: No new data to insert (all dates already exist).
[truncate] Pull date 2004-01-17: Replaced with 684 rows.
[incremental] Pull date 2004-01-17: Updated 684 existing rows.

📅 Running loaders for: 2004-01-18
[append] Pull date 2004-01-18: No new data to insert (all dates already exist).
[truncate] Pull date 2004-01-18: Replaced with 684 rows.
[incremental] Pull date 2004-01-18: Updated 684 existing rows.

📅 Running loaders for: 2004-01-19
[append] Pull date 2004-01-19: No new data to insert (all dates already exist).
[truncate] Pull date 2004-01-19: Replaced with 684 rows.
[incremental] Pull date 2004-01-19: Updated 684 existing rows.

📅 Running loaders for: 2004-01-20
[append] Pull date 2004-01-20: No new data to insert (all dates already exist).
[truncate] Pull date 2004-01-20: Replaced with 684 rows.
[incremental] Pull date 2004-01-20: Updated 684 existing rows.

📅 Running loaders for: 2004-01-21
[append] Pull date 2004-01-21: No new data to insert (all dates already exist).
[truncate] Pull date 2004-01-21: Replaced with 684 rows.
[incremental] Pull date 2004-01-21: Updated 684 existing rows.

📅 Running loaders for: 2004-01-22
[append] Pull date 2004-01-22: No new data to insert (all dates already exist).
[truncate] Pull date 2004-01-22: Replaced with 684 rows.
[incremental] Pull date 2004-01-22: Updated 684 existing rows.

📅 Running loaders for: 2004-01-23
[append] Pull date 2004-01-23: No new data to insert (all dates already exist).
[truncate] Pull date 2004-01-23: Replaced with 684 rows.
[incremental] Pull date 2004-01-23: Updated 684 existing rows.

📅 Running loaders for: 2004-01-24
[append] Pull date 2004-01-24: No new data to insert (all dates already exist).
[truncate] Pull date 2004-01-24: Replaced with 684 rows.
[incremental] Pull date 2004-01-24: Updated 684 existing rows.

📅 Running loaders for: 2004-01-25
[append] Pull date 2004-01-25: No new data to insert (all dates already exist).
[truncate] Pull date 2004-01-25: Replaced with 684 rows.
[incremental] Pull date 2004-01-25: Updated 684 existing rows.

📅 Running loaders for: 2004-01-26
[append] Pull date 2004-01-26: No new data to insert (all dates already exist).
[truncate] Pull date 2004-01-26: Replaced with 684 rows.
[incremental] Pull date 2004-01-26: Updated 684 existing rows.

📅 Running loaders for: 2004-01-27
[append] Pull date 2004-01-27: No new data to insert (all dates already exist).
[truncate] Pull date 2004-01-27: Replaced with 684 rows.
[incremental] Pull date 2004-01-27: Updated 684 existing rows.

📅 Running loaders for: 2004-01-28
[append] Pull date 2004-01-28: No new data to insert (all dates already exist).
[truncate] Pull date 2004-01-28: Replaced with 684 rows.
[incremental] Pull date 2004-01-28: Updated 684 existing rows.

📅 Running loaders for: 2004-01-29
[append] Pull date 2004-01-29: No new data to insert (all dates already exist).
[truncate] Pull date 2004-01-29: Replaced with 684 rows.
[incremental] Pull date 2004-01-29: Updated 684 existing rows.

📅 Running loaders for: 2004-01-30
[append] Pull date 2004-01-30: No new data to insert (all dates already exist).
[truncate] Pull date 2004-01-30: Replaced with 684 rows.
[incremental] Pull date 2004-01-30: Updated 684 existing rows.

📅 Running loaders for: 2004-01-31
[append] Pull date 2004-01-31: No new data to insert (all dates already exist).
[truncate] Pull date 2004-01-31: Replaced with 684 rows.
[incremental] Pull date 2004-01-31: Updated 684 existing rows.

📅 Running loaders for: 2004-02-01
[append] Pull date 2004-02-01: Inserted 1 new rows.
[truncate] Pull date 2004-02-01: Replaced with 685 rows.
[incremental] Pull date 2004-02-01: Inserted 1 new rows.
[incremental] Pull date 2004-02-01: Updated 684 existing rows.

📅 Running loaders for: 2004-02-02
[append] Pull date 2004-02-02: No new data to insert (all dates already exist).
[truncate] Pull date 2004-02-02: Replaced with 685 rows.
[incremental] Pull date 2004-02-02: Updated 685 existing rows.

📅 Running loaders for: 2004-02-03
[append] Pull date 2004-02-03: No new data to insert (all dates already exist).
[truncate] Pull date 2004-02-03: Replaced with 685 rows.
[incremental] Pull date 2004-02-03: Updated 685 existing rows.

📅 Running loaders for: 2004-02-04
[append] Pull date 2004-02-04: No new data to insert (all dates already exist).
[truncate] Pull date 2004-02-04: Replaced with 685 rows.
[incremental] Pull date 2004-02-04: Updated 685 existing rows.

📅 Running loaders for: 2004-02-05
[append] Pull date 2004-02-05: No new data to insert (all dates already exist).
[truncate] Pull date 2004-02-05: Replaced with 685 rows.
[incremental] Pull date 2004-02-05: Updated 685 existing rows.

📅 Running loaders for: 2004-02-06
[append] Pull date 2004-02-06: No new data to insert (all dates already exist).
[truncate] Pull date 2004-02-06: Replaced with 685 rows.
[incremental] Pull date 2004-02-06: Updated 685 existing rows.

📅 Running loaders for: 2004-02-07
[append] Pull date 2004-02-07: No new data to insert (all dates already exist).
[truncate] Pull date 2004-02-07: Replaced with 685 rows.
[incremental] Pull date 2004-02-07: Updated 685 existing rows.

📅 Running loaders for: 2004-02-08
[append] Pull date 2004-02-08: No new data to insert (all dates already exist).
[truncate] Pull date 2004-02-08: Replaced with 685 rows.
[incremental] Pull date 2004-02-08: Updated 685 existing rows.

📅 Running loaders for: 2004-02-09
[append] Pull date 2004-02-09: No new data to insert (all dates already exist).
[truncate] Pull date 2004-02-09: Replaced with 685 rows.
[incremental] Pull date 2004-02-09: Updated 685 existing rows.

📅 Running loaders for: 2004-02-10
[append] Pull date 2004-02-10: No new data to insert (all dates already exist).
[truncate] Pull date 2004-02-10: Replaced with 685 rows.
[incremental] Pull date 2004-02-10: Updated 685 existing rows.

📅 Running loaders for: 2004-02-11
[append] Pull date 2004-02-11: No new data to insert (all dates already exist).
[truncate] Pull date 2004-02-11: Replaced with 685 rows.
[incremental] Pull date 2004-02-11: Updated 685 existing rows.

📅 Running loaders for: 2004-02-12
[append] Pull date 2004-02-12: No new data to insert (all dates already exist).
[truncate] Pull date 2004-02-12: Replaced with 685 rows.
[incremental] Pull date 2004-02-12: Updated 685 existing rows.

📅 Running loaders for: 2004-02-13
[append] Pull date 2004-02-13: No new data to insert (all dates already exist).
[truncate] Pull date 2004-02-13: Replaced with 685 rows.
[incremental] Pull date 2004-02-13: Updated 685 existing rows.

📅 Running loaders for: 2004-02-14
[append] Pull date 2004-02-14: No new data to insert (all dates already exist).
[truncate] Pull date 2004-02-14: Replaced with 685 rows.
[incremental] Pull date 2004-02-14: Updated 685 existing rows.

📅 Running loaders for: 2004-02-15
[append] Pull date 2004-02-15: No new data to insert (all dates already exist).
[truncate] Pull date 2004-02-15: Replaced with 685 rows.
[incremental] Pull date 2004-02-15: Updated 685 existing rows.

📅 Running loaders for: 2004-02-16
[append] Pull date 2004-02-16: No new data to insert (all dates already exist).
[truncate] Pull date 2004-02-16: Replaced with 685 rows.
[incremental] Pull date 2004-02-16: Updated 685 existing rows.

📅 Running loaders for: 2004-02-17
[append] Pull date 2004-02-17: No new data to insert (all dates already exist).
[truncate] Pull date 2004-02-17: Replaced with 685 rows.
[incremental] Pull date 2004-02-17: Updated 685 existing rows.

📅 Running loaders for: 2004-02-18
[append] Pull date 2004-02-18: No new data to insert (all dates already exist).
[truncate] Pull date 2004-02-18: Replaced with 685 rows.
[incremental] Pull date 2004-02-18: Updated 685 existing rows.

📅 Running loaders for: 2004-02-19
[append] Pull date 2004-02-19: No new data to insert (all dates already exist).
[truncate] Pull date 2004-02-19: Replaced with 685 rows.
[incremental] Pull date 2004-02-19: Updated 685 existing rows.

📅 Running loaders for: 2004-02-20
[append] Pull date 2004-02-20: No new data to insert (all dates already exist).
[truncate] Pull date 2004-02-20: Replaced with 685 rows.
[incremental] Pull date 2004-02-20: Updated 685 existing rows.

📅 Running loaders for: 2004-02-21
[append] Pull date 2004-02-21: No new data to insert (all dates already exist).
[truncate] Pull date 2004-02-21: Replaced with 685 rows.
[incremental] Pull date 2004-02-21: Updated 685 existing rows.

📅 Running loaders for: 2004-02-22
[append] Pull date 2004-02-22: No new data to insert (all dates already exist).
[truncate] Pull date 2004-02-22: Replaced with 685 rows.
[incremental] Pull date 2004-02-22: Updated 685 existing rows.

📅 Running loaders for: 2004-02-23
[append] Pull date 2004-02-23: No new data to insert (all dates already exist).
[truncate] Pull date 2004-02-23: Replaced with 685 rows.
[incremental] Pull date 2004-02-23: Updated 685 existing rows.

📅 Running loaders for: 2004-02-24
[append] Pull date 2004-02-24: No new data to insert (all dates already exist).
[truncate] Pull date 2004-02-24: Replaced with 685 rows.
[incremental] Pull date 2004-02-24: Updated 685 existing rows.

📅 Running loaders for: 2004-02-25
[append] Pull date 2004-02-25: No new data to insert (all dates already exist).
[truncate] Pull date 2004-02-25: Replaced with 685 rows.
[incremental] Pull date 2004-02-25: Updated 685 existing rows.

📅 Running loaders for: 2004-02-26
[append] Pull date 2004-02-26: No new data to insert (all dates already exist).
[truncate] Pull date 2004-02-26: Replaced with 685 rows.
[incremental] Pull date 2004-02-26: Updated 685 existing rows.

📅 Running loaders for: 2004-02-27
[append] Pull date 2004-02-27: No new data to insert (all dates already exist).
[truncate] Pull date 2004-02-27: Replaced with 685 rows.
[incremental] Pull date 2004-02-27: Updated 685 existing rows.

📅 Running loaders for: 2004-02-28
[append] Pull date 2004-02-28: No new data to insert (all dates already exist).
[truncate] Pull date 2004-02-28: Replaced with 685 rows.
[incremental] Pull date 2004-02-28: Updated 685 existing rows.

📅 Running loaders for: 2004-02-29
[append] Pull date 2004-02-29: No new data to insert (all dates already exist).
[truncate] Pull date 2004-02-29: Replaced with 685 rows.
[incremental] Pull date 2004-02-29: Updated 685 existing rows.

📅 Running loaders for: 2004-03-01
[append] Pull date 2004-03-01: Inserted 1 new rows.
[truncate] Pull date 2004-03-01: Replaced with 686 rows.
[incremental] Pull date 2004-03-01: Inserted 1 new rows.
[incremental] Pull date 2004-03-01: Updated 685 existing rows.

In [7]:
# === Preview Data from Each Table ===
def view_table(db_path, table_name):
    con = duckdb.connect(db_path)
    df = con.execute(f"SELECT * FROM {table_name} ORDER BY date LIMIT 10").fetchdf()
    con.close()
    return df

print("\n📊 Sample from Append Table:")
display(view_table("economic_data_append.duckdb", "economic_data_append"))

print("\n📊 Sample from Trunc Table:")
display(view_table("economic_data_trunc.duckdb", "economic_data_trunc"))

print("\n📊 Sample from Incremental Table:")
display(view_table("economic_data_inc.duckdb", "economic_data_inc"))

📊 Sample from Append Table:

        date   cpi
0 1947-01-01  21.5
1 1947-02-01  21.6
2 1947-03-01  22.0
3 1947-04-01  22.0
4 1947-05-01  22.0
5 1947-06-01  22.1
6 1947-07-01  22.2
7 1947-08-01  22.4
8 1947-09-01  22.8
9 1947-10-01  22.9

📊 Sample from Trunc Table:

        date   cpi
0 1947-01-01  21.5
1 1947-02-01  21.6
2 1947-03-01  22.0
3 1947-04-01  22.0
4 1947-05-01  22.0
5 1947-06-01  22.1
6 1947-07-01  22.2
7 1947-08-01  22.4
8 1947-09-01  22.8
9 1947-10-01  22.9

📊 Sample from Incremental Table:

        date   cpi
0 1947-01-01  21.5
1 1947-02-01  21.6
2 1947-03-01  22.0
3 1947-04-01  22.0
4 1947-05-01  22.0
5 1947-06-01  22.1
6 1947-07-01  22.2
7 1947-08-01  22.4
8 1947-09-01  22.8
9 1947-10-01  22.9

In [8]:
# === Compare Method Performance ===
def summarize_times(label, times):
    avg = round(sum(times) / len(times), 4)
    return f"{label} avg: {avg:.4f}s over {len(times)} runs"

print("\n⏱️ Performance Summary:")
print(summarize_times("Append", append_times))
print(summarize_times("Trunc", trunc_times))
print(summarize_times("Incremental", inc_times))

⏱️ Performance Summary:
Append avg: 1.8879s over 61 runs
Trunc avg: 1.8716s over 61 runs
Incremental avg: 1.9536s over 61 runs

In [9]:
# === Check for Duplicates in Append Table ===
con = duckdb.connect("economic_data_append.duckdb")
dup_check = con.execute("""
    SELECT date, COUNT(*) as count
    FROM economic_data_append
    GROUP BY date
    HAVING COUNT(*) > 1
""").fetchdf()
con.close()

if dup_check.empty:
    print("\n✅ No duplicates in append table.")
else:
    print("\n⚠️ Duplicates found in append table:")
    display(dup_check)

✅ No duplicates in append table.